<mat-card class="example-card" [id]="post.id">
  <mat-card-header>
    <mat-card-title>{{ post.title | slice: 0:10 }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="http://lorempixel.com/200/200/people/{{ post.id }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ post.body | slice: 0:150 }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>EDIT</button>
    <button mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
