/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
body,
html {
  padding: 0;
  margin: 0;
}

.container {
  padding: 20px;
}

.card {
  padding: 10px;
}
